services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=mongodb://mongo:27017/
      - DATABASE_NAME=rh_eval
      - SECRET_KEY=secret-key
      - SMTP_SERVER=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=ton-email@gmail.com
      - SMTP_PASSWORD=ton-app-password
    depends_on:
      - mongo
  mongo:
    image: mongo:7.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: